
.expense-list {
    text-align: center;
  }
  
  .controls {
    margin-bottom: 20px;
  }
  
  .controls input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .controls button {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #6565fc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .controls button:hover {
    background-color: #4343ff;
  }
  
  .clear-button {
    background-color: red;
  }
  
  .clear-button:hover {
    background-color: darkred;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  